:root {
  --first-color: rgb(255, 228, 179);
  --nav-color: rgb(250, 173, 173);
  --second-color: rgb(26, 26, 26);
  --third-color: rgba(255, 174, 68, 0.5);
  --forth-color: rgba(204, 82, 0, 0.5);
  --header-color: rgb(26, 26, 26);
  --link-color: rgba(255, 255, 255, 0.521);
  --link-hover-color: rgb(113, 75, 121);
  --footer-color: rgb(204, 82, 0);
  --main-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--second-color);
}

body {
  background-color: var(--first-color);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  /* max-width: 300px; */
  /* margin: auto; */
}

/* BURGER MENU */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  align-self: flex-end;
}

.topnav a.icon {
  background: rgb(200, 200, 200);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #999;
  color: white;
}

/* NAV */
nav {
  display: none;
  align-self: end;
}

.header__menu {
  text-shadow: 0 0 15px #fff;
  padding-right: 20px;
}
.header__menu ul {
  /* display: flex; */
  gap: 15px;
}
.header__menu ul li {
  position: relative;
}

/* HEADER */

header {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  background-color: var(--first-color);
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
}
.profile-photo {
  width: 200px;
  height: 200px;
  /* border-radius: 200px; */
  margin: 0 50px;
}

.name {
  position: relative;
  flex-grow: 1;
  align-self: center;
  text-align: center;
  /* animation: running-header 1s ease-out; */
}

.name h1,
h2 {
  font-family: "Questrial", sans-serif;
  color: var(--header-color);
}

.name > h1 {
  font-size: 36px;
}

.name > h2 {
  /* font-size: 35px; */
  font-size: 24px;
}

/* ASIDE */

aside {
  padding: 8px 16px;
  background-color: var(--forth-color);
}

.aside-list > li {
  margin: 15px 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.contacts-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  font-size: 16px;
}

.contacts-list > li > i {
  position: relative;
  top: 3px;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

.main-content {
  /* flex-grow: 1; */
  padding: 10px 16px 60px;
  background-color: var(--third-color);
  border-top-left-radius: var(--main-radius);
}

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 10px 0;
  padding: 5px 0;
  color: var(--second-color);
  border-bottom: 2px solid var(--second-color);
}

.section-header > h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 5px 0;
}

.head-icon {
  position: relative;
  bottom: 2px;
  margin-left: 20px;
  font-size: 26px;
}

.section-list > li {
  margin: 4px;
  list-style: none;
  padding-left: 16px;
  font-size: 14px;
}

.section-link {
  text-decoration: none;
  transition: 0.15s linear;
  /* font-size: 16px; */
}

.section-link:hover .link-icon {
  color: var(--link-hover-color);
}

.section-link:hover {
  color: var(--link-hover-color);
  margin-left: 8px;
}

.link-icon {
  position: relative;
  bottom: 1px;
  margin-right: 5px;
  font-size: 1em;
  transition: 0.15s linear;
}

.text-link {
  text-decoration: none;
  transition: 0.15s linear;
  color: rgba(204, 82, 0, 0.95);
}

.text-link:hover {
  color: var(--link-hover-color);
}

.text-link:hover {
  color: var(--link-hover-color);
  margin-left: 2px;
}

h4 {
  margin-bottom: 8px;
  margin-top: 12px;
}

h5 {
  font-size: 0.9em;
  padding-top: 2px;
  padding-left: 8px;
  font-weight: normal;
}

.courses-list {
  margin-left: 8px;
}
.courses-list h5 {
  padding-left: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-left: 32px; */
}

.skills-list {
  margin-left: 8px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  /* width: 200px; */
  /* padding-left: 32px; */
}

.project-image > a > img {
  /* display: block; */
  width: 100%;
}

.project-text {
  align-self: center;
}

.lang {
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
}

code {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  background-color: #ffefef;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--footer-color);
}

.footer-year {
  width: 100px;
  text-align: center;
  font-size: 24px;
  line-height: 37px;
  font-weight: bold;
  color: black;
}

.footer-github > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.footer-github > a > i {
  margin-right: 10px;
  color: black;
}

.footer-rsschool > a > img {
  width: 100px;
}

/* media queries */
@media only screen and (min-width: 610px) {
  /* For tablets: */
  /* BURGER MENU */
  .topnav {
    display: none;
  }
  nav {
    display: block;
    align-self: end;
    /* margin-top: 8px; */
  }
    .header__menu {
    /* padding-top: 30px; */
    list-style: none;
    display: flex;
    font-size: 10px;
    justify-content: center;
    line-height: 40px;
  }

  .header__menu {
    position: fixed;
    padding: 0;
    width: 100%;
    background-color: var(--first-color);
    opacity: 100%;
    z-index: 9000;
  }
  .header__menu ul {
    list-style: none;
    display: flex;
  }

  header {
    display: flex;
    padding-top: 30px;
    flex-direction: row-reverse;
    background-color: var(--first-color);
    width: 100%;
    align-items: center;
    margin-bottom: 0;
  }
  .profile-photo {
    width: 252px;
    height: 252px;
    border-top-right-radius: 4px;
    margin: 0;
  }

  .name {
    position: relative;
    flex-grow: 1;
    align-self: center;
    text-align: center;
    /* animation: running-header 1s ease-out; */
  }

  .name h1,
  h2 {
    font-family: "Questrial", sans-serif;
    color: var(--header-color);
  }

  .name > h1 {
    font-size: 30px;
  }

  .name > h2 {
    font-size: 20px;
  }

  /* MAIN */

  main {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: flex-start ; */
  }

  .main-content {
    flex-grow: 1;
    padding: 10px 16px 60px;
    background-color: var(--third-color);
    border-top-left-radius: var(--main-radius);
    width: 100px;
  }

  /* ASIDE */
  aside {
    width: 220px;
    padding: 8px 16px;
    background-color: var(--forth-color);
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 24px;
  }

  .projects-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 24px;
  }

  .project-image > a > img {
    /* display: block; */
    width: 200px;
  }

  .project-text {
    align-self: center;
  }
}

@media (min-width: 768px) {
  /* For desktop: */
   .projects-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 24px;
  }

  .header__menu {
    /* padding-top: 30px; */
    list-style: none;
    display: flex;
    font-size: 10px;
    justify-content: center;
    line-height: 40px;
  }

  .header__menu {
    position: fixed;
    padding: 0;
    width: 100%;
    background-color: var(--first-color);
    opacity: 100%;
    z-index: 9000;
  }
  .header__menu ul {
    list-style: none;
    display: flex;
  }

  /* HEADER */

  header {
    display: flex;
    /* margin-top: 30px; */
    flex-direction: row-reverse;
    background-color: var(--first-color);
    width: 100%;
    align-items: center;
    margin-bottom: 0;
  }
  .profile-photo {
    width: 252px;
    height: 252px;
    border-top-right-radius: 4px;
    margin: 0;
  }

  .name {
    position: relative;
    flex-grow: 1;
    align-self: center;
    text-align: center;
    /* animation: running-header 1s ease-out; */
  }

  .name h1,
  h2 {
    font-family: "Questrial", sans-serif;
    color: var(--header-color);
  }

  .name > h1 {
    font-size: 50px;
  }

  .name > h2 {
    font-size: 35px;
  }

  /* MAIN */

  main {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: flex-start ; */
  }

  .main-content {
    flex-grow: 1;
    padding: 10px 16px 60px;
    background-color: var(--third-color);
    border-top-left-radius: var(--main-radius);
    width: 300px;
  }

  /* ASIDE */
  aside {
    width: 220px;
    /* width: 100%; */
    padding: 8px 16px;
    /* border-top-right-radius: var(--main-radius); */
    background-color: var(--forth-color);
  }
}
